# requirements.txt
pylint==3.0.3
contourpy==1.2.0
kiwisolver==1.4.5
lxml==4.9.4
matplotlib==3.8.2
numpy==1.26.2
Pillow==10.1.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.11
Menu==3.2.2
tqdm==4.66.1
